.button {
    border: none;
    color: var(--white);
    margin-top: 10px;

    font-family: 'Roboto';
    background-color: #59942b;
    border-radius: 12px;
    font-weight: 400;
    outline: none;
    height: 40px;
    cursor: pointer;
    width: 160px;
}
.button:hover {
    background-color: var(--button-green);
}
.btn {
    border: none;
    color: var(--white);

    font-family: 'Roboto';
    background-color: #59942b;
    border-radius: 12px;
    font-weight: 400;
    outline: none;
    padding: 2px 16px;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover {
    background-color: var(--button-green);
}

.paginationButton {
    color: var(--white);
    background: none;
    margin: 0 2px;
    padding: 5px;
    font-size: 16px;
}
.paginationButton:hover {
    cursor: pointer;
}
.arrowButton {
    margin: 0 10px;
}
.disabledButton {
    font-size: 20px;
    font-weight: bold;
}
.editProjectButton {
    margin: 0 0 40px 0;
}
.confirmButtons {
    border: none;
    padding: 8px 16px;
    color: var(--white);
}
.confirmButtons:hover {
    cursor: pointer;
}
.cancelButton {
    background-color: #59942b;
}
.cancelButton:hover {
    background-color: var(--button-green);
}
.deleteButton {
    background-color: #fc030f;
}
.deleteButton:hover {
    background-color: #fc2631;
}
@media screen and (min-width: 768px) {
    .button {
        font-size: 18px;
    }
    .btn {
        padding: 4px 40px;
    }
    .paginationButton {
        font-size: 18px;
        margin: 0 6px;
        padding: 7px;
    }
    .disabledButton {
        font-size: 28px;
        font-weight: bold;
    }
    .editProjectButton {
        margin: 0 0 40px 75px;
    }
    .confirmButtons {
        padding: 10px 14px;
        font-size: 18px;
    }
}
