.button {
    border: none;
    color: var(--white);
    margin-top: 10px;
    font-family: 'Roboto';
    background-color: #59942b;
    border-radius: 12px;
    font-weight: 400;
    outline: none;
    height: 40px;
    cursor: pointer;
    width: 160px;
}
.button:hover {
    background-color: var(--button-green);
}
.btn {
    border: none;
    color: var(--white);

    font-family: 'Roboto';
    background-color: #59942b;
    border-radius: 12px;
    font-weight: 400;
    outline: none;
    padding: 2px 16px;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover {
    background-color: var(--button-green);
}
@media screen and (min-width: 768px) {
    .button {
        font-size: 18px;
    }
    .btn {
        padding: 4px 40px;
    }
}
