.dropDownMenu {
    position: absolute;
    top: 58px;
    left: -100px;
    width: 200px;
    /* background-color: var(--bg);*/
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: left 2s;
    opacity: 0.9;
    animation: mymove 0.5s forwards;
}
.dropDownMenuBgDark {
    background-color: var(--bg);
    color: var(--white);
}
.dropDownMenuBgLight {
    background-color: #909296;
    color: var(--black);
}

@keyframes mymove {
    0% {
        top: 0px;
        left: 0px;
    }

    100% {
        top: 58px;
        left: -100px;
    }
}
.dropDownMenu li {
    list-style-type: none;
    margin-bottom: 10px;
    transition: 2s;
}
.dropDownSpan {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #484a4d;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 50px;
    vertical-align: middle;
    padding-bottom: 10px;
    overflow: hidden;
}
.dropDownSpan:hover {
    cursor: pointer;
}
.dropDownSpan svg {
    width: 30px;
    height: 30px;
    fill: var(--white);
    margin: 5px auto;
}
.settingsSpan svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
    margin: 5px;
}

.myProfileSpan img {
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1144px) {
    .dropDownMenu {
        top: 0;
        left: 0;
    }
    @keyframes mymove {
        0% {
            top: 0;
            left: 0px;
        }

        100% {
            top: -100px;
            left: 73px;
        }
    }
}
